@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #FFFF 52%, #a6d1f7 80%, #75b9f6 95%, #5faff6  100%);
    height: 83.5vh;
    background-repeat: no-repeat;
}

main {
    margin-top: 100px;
}

figure {
    display: flex;
    justify-content: center;
}

#caixaNumeros {
    display: block;
    margin: 15px auto;
    background-color: #585A5C;
    color: white;
    width: 280px;
    height: 50px;
    padding: 6px 0 0 17px;
    border-radius: 6px;
}

.numeros {
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}

.numeroMili {
    color: #0075DC;
}

#caixaBotoes {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.botoes {
    background-color: #fff;
    color: #0075DC;
    padding: 6px 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    transition: .5s ease;
}

.botoes:hover {
    color: rgba(255, 255, 255, 0.678);
    background-color: #0075DC;
    font-weight: lighter;

}

.ativo {
    color: rgba(255, 255, 255, 0.678);
    opacity: 0.4;
    background-color: #0075DC;
    font-weight: lighter;
}